*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
p {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
input {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
 animation-duration: 0.01ms !important;
 animation-iteration-count: 1 !important;
 transition-duration: 0.01ms !important;
 scroll-behavior: auto !important;
  }
}

body {
	background-color: rgba(248, 125, 169, 0.15);
}
.main {
	text-align: center;
}
.outer {
	max-width: 330px;	
	border-radius: 25px;
	padding: 2px 5px;
	background: linear-gradient(to bottom, #b50406 0%, #b50406 17%, #ec7b29 17%, #ec7b29 33%, #ecd10c 33%, #ecd10c 50%, #78c57d 50%, #78c57d 66%, #2871c6 66%, #2871c6 83%, #723479 83%, #723479 100%);
	border: 4px solid #80808082;
	box-shadow: inset 0 0 10px #0101019e;
	margin: 0 auto;
}
.outer > div {
	height: 56px;
	position: relative;
}
.outer > div:nth-child(6) {
	border-bottom: 0;
} 
.outer > div > div {
	width: 52px;
	border: 2px solid transparent;
	height: 52px;
	display: block;
	border-radius: 50%;
	margin: 0px;
	position: relative;
	display: inline-block;
	margin: 0 auto;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label::before,
input[type="checkbox"]:not(:checked) + label::before {
    content: '';
    position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	width: 50px;
	height: 50px;
    border-radius: 100%;
    background-image: radial-gradient(circle, rgba(109, 109, 109, 0.58) 0%, rgba(143, 143, 143, 0.37) 40%, rgba(255, 255, 255, 0) 100%);
	box-shadow: inset #ffffff2e 0 0 4px 1px, inset #b0b0b014 0 0 2px 1px; 
	border: 2px solid rgba(66, 66, 66, 0.46);
	box-sizing: border-box;
}

input[type="checkbox"]:checked + label::after,
input[type="checkbox"]:not(:checked) + label::after {
	box-sizing: border-box;
    content: ''; 
    position: absolute;
  	left: 0px;
	top: 0px;
	cursor: pointer;
	width: 50px;
	height: 50px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
	background-image: none;
	box-shadow: inset 0 0 3px 1px rgba(0,0,0,.65), inset rgba(0,0,0,.3) -5px -5px 9px 5px, inset rgba(255,255,255,.5) 5px 5px 9px 5px, 1px 1px 1px rgba(255,255,255,.1), -2px -2px 5px rgba(0,0,0,.5);
	filter: brightness(1.2);
}
input[type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
input[type="checkbox"]:checked + label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.outer > div::after {
	height: 5px;
	background: #80808082;
	width: calc(100% + 8px);
	content:  "";
	border-top: 1px solid #493a4b45;
	border-bottom: 1px solid #493a4b45;
	display: block;
	position: absolute;
	left: -4px;
	bottom: -1px;
}
.outer > div:nth-child(6)::after {
	display: none;
}
.red input[type="checkbox"]:checked + label::after,
.red input[type="checkbox"]:not(:checked) + label::after {
	background-color:  #b50406;
}
.orange input[type="checkbox"]:checked + label::after,
.orange input[type="checkbox"]:not(:checked) + label::after {
	background-color:  #ec7b29;
}
.yellow input[type="checkbox"]:checked + label::after,
.yellow input[type="checkbox"]:not(:checked) + label::after {
	background-color:  #ecd10c;
}
.green input[type="checkbox"]:checked + label::after,
.green input[type="checkbox"]:not(:checked) + label::after {
	background-color:  #78c57d;
}
.blue input[type="checkbox"]:checked + label::after,
.blue input[type="checkbox"]:not(:checked) + label::after {
	background-color:  #2871c6;
}
.purple input[type="checkbox"]:checked + label::after,
.purple input[type="checkbox"]:not(:checked) + label::after {
	background-color:  #723479;
}
h1 {
	position: relative;
    color: #3CA1D9; 
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 56px;
    padding: 11px 60px;
    line-height: 1;
    margin: 40px auto 50px auto;
}
@media (max-width: 480px) {
	.outer > div > div,
	input[type="checkbox"]:checked + label::after, 
	input[type="checkbox"]:not(:checked) + label::after,
	input[type="checkbox"]:checked + label::before, 
	input[type="checkbox"]:not(:checked) + label::before  {
	    width: 42px;
	    height: 42px;
	}
	.outer > div {
	    height: 48px;
	}
	.outer {
    	max-width: 280px;
	}
}