*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
p {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
input {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  * {
 animation-duration: 0.01ms !important;
 animation-iteration-count: 1 !important;
 transition-duration: 0.01ms !important;
 scroll-behavior: auto !important;
  }
}
